<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.mybatis_psql_board.board.dao.CommentMapper">

    <select id="commentCount" resultType="int">
        SELECT
            COUNT(*)
        FROM COMMENT
    </select>

<!--    <select id="commentList" resultType="com.example.demo.domain.CommentVO">-->
<!--        SELECT-->
<!--            *-->
<!--        FROM COMMENT-->
<!--    </select>-->

    <!-- comment List -->
    <select id="commentList" parameterType="int" resultType="com.example.mybatis_psql_board.board.dto.CommentDto">
        SELECT cno, bno, reply_idx as replyIdx, content, writer
        FROM COMMENT
        where bno =#{bno}
        order by reg_date asc, reply_idx asc
    </select>

<!-- 자식댓글    부모댓글 존재시 삭제하기위해 조회-->
    <select id="commentDeleteList" parameterType="int" resultType="com.example.mybatis_psql_board.board.dto.CommentDto">
        with RECURSIVE comments AS
                           (
                               select
                                   *,
                                   "cno" as top_key,

                                   '' || cno as "keys"
                               from comment
                               where reply_idx = 0
                               UNION

                               select
                                   b.*,
                                   a.top_key,

                                   a.keys || ',' || b.cno as keys
                               from comments a
                                        inner join comment b on a.cno = b.reply_idx
                           )select * from comments where keys like '%${cno}%' order by keys
    </select>



    <insert id="commentInsert" parameterType="com.example.mybatis_psql_board.board.dto.CommentDto">
        INSERT INTO
            COMMENT (bno, reply_idx, content, writer, reg_date)
        VALUES(#{bno},#{replyIdx},#{content},#{writer},now())
    </insert>

    <update id="commentUpdate" parameterType="com.example.mybatis_psql_board.board.dto.CommentDto">
        UPDATE COMMENT
        SET
            CONTENT = #{content}
        WHERE CNO = #{cno}
    </update>

    <delete id="commentDelete" parameterType="int">
        DELETE FROM COMMENT WHERE CNO = #{cno}
    </delete>
</mapper>
